.vscode
.idea
*~
bin*
share/*
unit_testing/*
CMakeLists.txt.user
cmake-build-*
*.dll
*.log
*.exe
*.srctrlprj
*.srctrlbm
*.srctrldb
*.aux.xml
.DS_Store
_local
/doc/feature_new_toc/feature_new_toc.docx
