.vscode
.idea
*~
bin/*
bin-vs/*
bin-vs-debug/*
share/*
unit_testing/*
CMakeLists.txt.user
cmake-build-debug/*
cmake-build-release/*
cmake-build-relwithdebinfo/*
*.dll
*.log
*.exe
*.srctrlprj
*.srctrlbm
*.srctrldb
