version: 3.2.{build}

image: Visual Studio 2019

environment:
  APPVEYOR_SAVE_CACHE_ON_ERROR: true
  WXWIN: C:\projects\libs\wxwidgets
  PROJ_LIB: C:\projects\libs\proj\share\proj

  # multiprocessor compilation
  CFLAGS: /MP
  CXXFLAGS: /MP
  
cache:
  - C:\projects\libs -> ci/appveyor/cache-version.txt
  
install:
  - ps: ci/appveyor/install.ps1
  
build_script:
  - echo Running cmake...
  - cd C:\projects\toolmap
  - mkdir bin
  - cd bin
  - cmake -G "Visual Studio 16 2019" -Ax64 -DCMAKE_BUILD_TYPE=RelWithDebInfo -DWXWINDOWS_ROOT_DIR=C:\projects\libs\wxwidgets -DSEARCH_GDAL_PATH=C:\projects\libs\gdal -DSEARCH_GEOS_PATH=C:\projects\libs\geos -DSEARCH_PROJ_PATH=C:\projects\libs\proj -DSEARCH_SQLITE_PATH=C:\projects\libs\sqlite -DSEARCH_CURL_PATH=C:\projects\libs\curl -DMYSQL_MAIN_DIR=C:\projects\libs\mysql -DSEARCH_WXPDFDOCUMENT_PATH=C:\projects\libs\wxpdfdoc -DSEARCH_GEOS=1 -DSEARCH_GDAL=1 -DUSE_UNITTEST=1 -DCXXTEST_INCLUDE_DIR=C:\projects\cxxtest -DCXXTEST_PYTHON_TESTGEN_EXECUTABLE=C:\projects\cxxtest\bin\cxxtestgen ..
  - cmake --build . --config relwithdebinfo #> nul

test_script:
  - cd C:\projects\toolmap\bin\test
  - ctest -V

after_test:
  - cd C:\projects\toolmap\bin
  - cpack -C relwithdebinfo -G WIX
  - cd C:\projects\toolmap
  - copy bin\*win64.exe .\
  - copy bin\*win64.msi .\
  - for %%f in (*win64.exe) do (copy /b bin\RelWithDebInfo\ToolMap.pdb %%f.pdb)

artifacts:
  - path: '*win64.msi'
    name: ToolMapInstallerMSI
    type: file

  - path: '*win64.exe.pdb'
    name: ToolMapPdb
    type: file

deploy:
  - provider: FTP
    protocol: ftp
    host: euso.ftp.infomaniak.com
    username: euso_toolmap
    password:
      secure: WWmGrLRonuGbVQ8y6bvsmCQha3YggTiPsAAs0egS/g0=
    artifact:
    on:
      branch: nightly

  - provider: FTP
    protocol: ftp
    host: euso.ftp.infomaniak.com
    username: euso_toolmap
    password:
      secure: WWmGrLRonuGbVQ8y6bvsmCQha3YggTiPsAAs0egS/g0=
    artifact:
    on:
      branch: release
    