Source: toolmap
Section: science
Priority: optional
Maintainer: Lucien Schreiber <lucien.schreiber@crealp.vs.ch>
Build-Depends: debhelper (>= 7), dpatch, cmake (>= 2.8), cdbs, libwxgtk2.8-dev, libmysqld-dev (>= 5.1), libgeos-dev, libcurl4-gnutls-dev, libgdal1-dev, libwrap0-dev
Standards-Version: 3.8.4
Homepage: http://www.toolmap.ch

Package: toolmap
Architecture: any
Depends: ${misc:Depends}, libwxgtk2.8-0, libmysqlclient16 (>= 5.1), mysql-server-core-5.1, libgeos-c1, libcurl3-gnutls, libgdal1-1.6.0, libwrap0
Description: A tool for digital geological mapping
 In order to handle geological information in an efficient way and for easily transfer it into geological
 information system, the research center on alpine environment (CREALP) developed in close collaboration with the
 Swiss Geological Survey (SGS) the software package ToolMap. ToolMap allows structuring and storing geological data
 through a robust relational database, vectorising field data and building up multilayer GIS models with high
 topological integrity. Thus, it permits a much faster production of GIS datasets readily available for a wide
 variety of applications.
