name: Coverity scan

on:
  push:
    branches:
    - coverity-scan
  
jobs:
  coverity:
    name: Coverity scan
    
    runs-on: ubuntu-24.04

    env:
      BUILD_TYPE: RelWithDebInfo
      PROJ_LIB: ${{github.workspace}}/bin/share/proj

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Set up Python 3.10
      uses: actions/setup-python@v6
      with:
        python-version: '3.10'

    - name: Cache Conan libs
      id: cache-conan
      uses: actions/cache@v5
      with:
        path: /home/runner/.conan
        key: conan-linux

    - name: Install Conan
      run: |
        python -m pip install --upgrade pip
        pip install wheel conan==1.*
        
        # gitlab support (wxwidgets, mysql, gdal)
        conan remote add gitlab https://gitlab.com/api/v4/packages/conan --force
        
        # create default profile with libstdc++11
        conan profile new default --detect --force
        conan profile update settings.compiler.libcxx=libstdc++11 default
        conan profile update conf.tools.system.package_manager:mode=install default
        conan profile update conf.tools.system.package_manager:sudo=True default

    - name: Install system libs
      run: |
        sudo apt-get update
        
        # GTK 3.0 libraries
        sudo apt-get install libgtk-3-0 libgtk-3-dev
        sudo apt-get install libxcb-cursor0 libxcb-cursor-dev
        sudo apt-get install libgnutlsxx28 libgnutls28-dev
        sudo apt-get install libx11-xcb-dev libfontenc-dev libxaw7-dev libxmu-dev libxmuu-dev libxpm-dev libxres-dev libxss-dev
        sudo apt-get install libxv-dev libxvmc-dev libxxf86vm-dev libxcb-render-util0-dev libxcb-xkb-dev libxcb-icccm4-dev
        sudo apt-get install libxcb-image0-dev libxcb-keysyms1-dev libxcb-randr0-dev libxcb-shape0-dev libxcb-sync-dev
        sudo apt-get install libxcb-xfixes0-dev libxcb-xinerama0-dev libxcb-dri3-dev libxcb-util-dev

        # needed for MySQL
        sudo apt-get install libncurses5-dev libssl-dev libx11-dev libx11-xcb-dev libfontenc-dev libice-dev libsm-dev libxau-dev libxaw7-dev
        sudo apt-get install libxcomposite-dev libxcursor-dev libxdamage-dev libxdmcp-dev libxext-dev libxfixes-dev libxft-dev libxi-dev libxinerama-dev
        sudo apt-get install libxkbfile-dev libxmu-dev libxmuu-dev libxpm-dev libxrandr-dev libxrender-dev libxres-dev libxss-dev libxt-dev
        sudo apt-get install libxtst-dev libxv-dev libxvmc-dev libxxf86vm-dev xtrans-dev libxcb-render0-dev libxcb-render-util0-dev
        sudo apt-get install libxcb-xkb-dev libxcb-icccm4-dev libxcb-image0-dev libxcb-keysyms1-dev libxcb-randr0-dev libxcb-shape0-dev libxcb-sync-dev
        sudo apt-get install libxcb-xfixes0-dev libxcb-xinerama0-dev xkb-data libxcb-dri3-dev uuid-dev libxcb-util-dev

      # ensure that we have the latest version of mariadb, gdal, wxwidgets and wxpdfdocument
      # and avoid mismatch problem with the cache.
    - name: Remove our conan lib
      run: |
        conan remove mariadb/10.6.22 -f
        conan remove gdal/3.10.3 -f
        conan remove wxwidgets/3.2.8.1 -f
        conan remove wxpdfdocument/1.3.1 -f

    - name: Install libraries
      run: |
        mkdir ${{github.workspace}}/bin
        cd ${{github.workspace}}/bin
        conan install .. -o unit_test=True --build=gtk --build=missing

    - name: Configure
      working-directory: ${{github.workspace}}/bin
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DUSE_UNITTEST=1

    - uses: vapier/coverity-scan-action@v1
      with:
        email: ${{ secrets.COVERITY_SCAN_EMAIL }}
        token: ${{ secrets.COVERITY_SCAN_TOKEN }}
        working-directory: ${{github.workspace}}/bin
        command: make -j $(nproc)
