name: Build MacOS

on:
  push:
  release:
    types:
      - created

env:
  CMAKE_POLICY_VERSION_MINIMUM: '3.5'

jobs:
  build:
    runs-on: macos-15

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Cache Conan libs
        id: cache-conan
        uses: actions/cache@v5
        with:
          path: /Users/runner/.conan
          key: conan-osx

      - name: Install conan
        run: |
          python -m pip install --upgrade pip
          pip install conan==1.*

          # gitlab support
          conan config set general.revisions_enabled=0
          conan remote add gitlab https://gitlab.com/api/v4/packages/conan --force

      # ensure that we have the latest version of mariadb, gdal, wxwidgets and wxpdfdocument
      # and avoid mismatch problem with the cache.
      - name: Remove our conan lib
        run: |
          conan remove mariadb/10.6.22 -f
          conan remove gdal/3.10.3 -f
          conan remove wxwidgets/3.2.8.1 -f
          conan remove wxpdfdocument/1.3.1 -f

      - name: Install libraries
        run: |
          mkdir ${{github.workspace}}/bin
          cd ${{github.workspace}}/bin
          conan install .. -o unit_test=True --build=qhull --build=missing -s compiler.version=16

      - name: Build
        run: |
          cd ${{github.workspace}}/bin
          conan build ..

      - name: Installer DND
        run: |
          cd ${{github.workspace}}/bin
          cpack -G DragNDrop

      - name: Upload
        uses: actions/upload-artifact@v5
        with:
          path: |
            ${{github.workspace}}/bin/*.dmg

  upload_all:
    name: Upload if release
    needs: [build]
    runs-on: ubuntu-22.04
    if: github.event_name == 'release' && github.event.action == 'created'

    steps:
      - uses: actions/download-artifact@v6
        with:
          name: artifact
          path: dist

      - name: Upload to releases
        uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          file: "dist/*.dmg"
          tags: true
          draft: true
          verbose: true